@import "../../../scss/abstracts/colors";

.WellStatus {
  margin-inline-start: -25px;
  padding-inline-start: 40px;
  border-top: 1px solid $lightGrey2-grey;
  div {
    display: flex;

    .Unplaced,
    .Placed {
      display: flex;
      align-items: center;
      margin-inline-end: 15px;
font-size: 14px;
      span {
        display: inline-block;
        background-color: white;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        margin-inline-end: 5px;
        border: 1px solid;
      }

      &.Placed > span {
        background-color: $lightOrange-secondary;
      }
    }
  }
}
